
.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.moveicon {
  height: 40px;
  border-radius: 20px;
}

.movebutton {
  background-color: transparent;
  border: 3px solid white;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.movebutton:hover {
  background-color: blue;
  transition: 0.25s;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: gold;
}

.score {
  margin-top: 50px;
}

.resetscorebutton {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 20px;
}
 .resetscorebutton:hover {
  background-color: red;
  color: white;
 }
.div1 {
  width: 340px;
  height: 500px;
  background-color: rgb(24, 14, 14);
  color: rgb(241, 215, 197);
  font-family: Arial;
  padding: 20px;
  
  
}

.copyright {
  margin-top: 40px;
  font-size: 12px;
  font-family: Arial;
  color: orange;
  text-align: center;
  
}

